body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  

.navbar{
    background-color: #114269;
}
.navbar-text,
.navbar-brand,
.nav-link.active {
    color: #F7EBEC;
}

.navbar-text,
.navbar-brand,
.nav-link.active:hover {
    color: #DDBDD5;
}

.footer {
    background-color: grey;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    background-color: rgb(43, 42, 42);
    align-items: center;
    justify-content: center;
    display: flex;
}
.footer p {
    color: white;
    text-align: center;
    max-width: 50%;
}


.page-footer {
    background-color: #252525;
    color: white;
}

.page-footer a{
    color: white;
}

.page-footer a:hover{
    color: #DDBDD5;
    
}

.contenedor_aerolineas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Comidas */
.cream-bg {
    background-color: rgb(240, 237, 237);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card-img{
    width: 200px;
    height: 100px;
    object-fit: fill;
    border-bottom-right-radius: 0px;
}

/* Comidas 2 */


/* Masthead banner en las paginas*/
.masthead{
    background-size: cover;
    min-height: 35vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rbga(0,0,0,.2);
}


/* Carousel */

.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}
/* Navbar  */

@media screen and (min-width:992px){
    .nav-item {
    line-height:80px;
    }
  }